# database (using supabase postgresql)
DATABASE_URL=postgresql://postgres.xxx:password@aws-1-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.xxx:password@aws-1-eu-central-1.pooler.supabase.com:5432/postgres

# redis (set to false for local dev, true for docker)
REDIS_ENABLED=false
REDIS_PASSWORD=
REDIS_HOST=localhosts
REDIS_PORT=6379
REDIS_DB=0

# supabase
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
SUPABASE_ANON_KEY=your_supabase_anon_key_here

# local ai service (sentence-transformer)
LOCAL_AI_SERVICE_URL=https://skillhub.lopataa.site:8000
AI_SERVICE_ENABLED=true

# frontend
FRONTEND_URL=https://skillhub.lopataa.site:3000
NEXT_PUBLIC_BACKEND_URL=https://skillhub.lopataa.site:4000/api
NEXT_PUBLIC_SITE_URL=https://skillhub.lopataa.site

# backend
PORT=4000
NODE_ENV=development
