# pnpm configuration
strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=@types/node
public-hoist-pattern[]=@types/react*
public-hoist-pattern[]=@types/express*
public-hoist-pattern[]=@types/qs
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prisma/client
